.banner{
    background-size: cover;
    color: white;
    height: 448px;
    object-fit: scale-down;
    background-position: center center;
}

.content{
    padding-left: 25px;
    padding-top: 140px;
    height: 190px;
}

.title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.btn{
    color: white;
    outline: none;
    border:none;
    margin-right: 1rem;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem ;
    background-color: rgba(51, 51, 51, .5);
    cursor: pointer;
}

.btn:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.5s;
}

.description{
    width: 45rem;
    height: 80px;
    line-height: 1.5;
    padding-top: 1rem;
    font-size: 0.9rem;
    max-width: 360px; 
}

.fade-bottom{
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,61 ), #111 );
}